{#
/**
 * @file
 * List Component.
 *
 * Basic building block component with the following variants:
 *   - Vertical (default): An image above text content
 *   - Horizontal: An image beside text content
 *   - Link: Whole card is a link with no button or call to action link
 *
 * Available variables:
 * - attributes: For additional HTML attributes not already provided.
 * - modifier_class: Additional CSS classes to change look and behaviour.
 * - card_link: The href value for the card. A single card is only allowed to link to one URL.
 * - card_headline_link: Boolean. Set to true if headline acts as a link.
 * - card_image: A full HTML entity for an image.
 * - card_super_headline: Text super headline. Often used for metadata such as category.
 * - card_headline: Text heading
 * - card_body: An open variable for anything. Generally this would be for
 *     WYSIWYG editor contents.
 * - card_cta_attributes: Any html attributes on the link that need to be
 *     added. For example: _target. This acts as the attributes for the link button and headline link as well.
 * - card_cta_label: The clickable text for the CTA link
 * - card_button_label: The text label of the button component.
 */
#}

{# For variant where whole card is a link, suppress all other links within the component #}
{%- if "su-card--link" in modifier_class -%}
    {%- set allow_links = false -%}
{%- else -%}
    {%- set allow_links = true -%}
{%- endif -%}

<div {{ attributes }} class="su-list-item {{ modifier_class }}">
  {% if loop.last %}{% set classes = classes|merge(["last"]) %}{% endif %}
    {# For variant where whole card is a link, add an <a> within the outer wrapper <div> #}
    {%- if allow_links == false %}
    <a href="{{ card_link }}" {{ card_cta_attributes }}>
        {%- endif -%}

        {# Card Image #}
        {% if news_card_image is not empty -%}
            {{ news_card_image }}
        {%- endif -%}

        <div class="su-card__contents">

            {# News Card Date #}
            {%- block block_news_card_date %}
                {% if news_card_publishing_date is not empty %}
                    <span>{{ news_card_publishing_date }}</span>
                {% endif -%}
            {% endblock -%}

            {# Card Headline #}
            {%- block block_news_card_headline  %}
                {%- if news_card_headline is not empty %}
                    <h2>
                        {%- if news_card_headline_link and allow_links -%}
                        <a href="{{ news_card_headline_link }}" {{ news_card_attributes }}>
                            {%- endif -%}
                            {{- news_card_headline -}}
                            {% if news_card_headline_link and allow_links -%}
                        </a>
                        {%- endif -%}
                    </h2>
                {% endif -%}
            {% endblock -%}

            {# An open field for body content #}
            {{ news_card_dek }}

            {# Card Topics #}
            {%- block block_news_card_topics  %}
                {%- if news_card_topics is not empty %}
                    <h2>
                        {%- if news_card_topics_link and allow_links -%}
                        <a href="{{ news_card_topics_link }}" {{ news_card_topics_attributes }}>
                            {%- endif -%}
                            {{- news_card_topics -}}
                            {% if news_card_topics_link and allow_links -%}
                        </a>
                        {%- endif -%}
                    </h2>
                {% endif -%}
            {% endblock -%}

        </div> {# /su-card__contents #}

        {%- if allow_links == false %}
    </a>
    {%- endif -%}
</div>
