{#
/**
 * @file
 * News Vertical Teaser.
 *
 * Vertical Teaser for News
 *
 * Available variables:
 * - attributes: For additional HTML attributes not already provided.
 * - news_vertical_teaser_image: Hero image for banner
 * - news_vertical_teaser_headline: Title of banner
 * - news_topics: Topic selected. Dynamically altered vi news-banner.js
 */
#}
<div {{ attributes }} class="su-news-vertical-teaser {{ modifier_class }}">
  {{ news_vertical_teaser_image }}
  {{ news_vertical_teaser_headline }}
  {{ news_topics }}
</div>
