{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
  'node',
  'news',
  'centered-container'
] %}

<article{{ attributes.addClass(classes) }}>

  {% if title_prefix or title_suffix or display_submitted or unpublished or page is empty and label %}
    <header>
      {{ title_prefix }}
      {% if not page and label %}
        <h2{{ title_attributes.addClass(title_classes) }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
      {% endif %}
      {{ title_suffix }}

      {% if display_submitted %}
        <div class="submitted">
          {{ author_picture }}
          {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
          {{ metadata }}
        </div>
      {% endif %}

      {% if not node.published %}
        {%
          set data = {
          'attributes': create_attribute({'class': 'su-alert su-alert--warning'}),
          'alert_text': "This page is currently unpublished and not visible to the public."|t,
        }
        %}
        {% include "@jumpstart_ui/components/alert/alert.html.twig" with data %}
      {% endif %}
    </header>
  {% endif %}

  <div{{ content_attributes.addClass('content flex-container') }}>
    <div class="flex-10-of-12">
      {% if content.su_news_topics is not empty %}
        <div class="news-topics">
          {{ content.su_news_topics }}
        </div>
      {% endif %}
      <div class="news-headline">
        {{ content.su_news_headline }}
      </div>
      {% if content.su_news_dek is not empty %}
        <div class="news-dek">
          {{ content.su_news_dek }}
        </div>
      {% endif %}
      <div class="byline-social-media-wrapper">
        {%- if content.su_news_publishing_date is not empty and content.su_news_byline is not empty -%}
          {%- set pipe = "|" -%}
          <div class="news-date-pipe-byline">
            {{ content.su_news_publishing_date }} {{ pipe }} {{ content.su_news_byline }}
          </div>
        {% endif %}
        <div class="news-social-media"></div>
      </div>
    </div>
    {% if content.su_news_featured_media is not empty %}
      <div class="news-image flex-12-of-12">
        <div class="news-image">
          {{ content.su_news_featured_media }}
        </div>
        <div class="news-image-caption">
          {{ content.su_news_featured_media_caption }}
        </div>
      </div>
    {% endif %}
    {% if content.su_news_components is not empty %}
      <div class="news-page-components flex-6-of-12">
        {{ content.su_news_components }}
      </div>
    {% endif %}
  </div><!-- /.content -->

  {% if content.links %}
    <div class="links">
      {{ content.links }}
    </div><!-- /.links -->
  {% endif %}

</article><!-- /.node -->
